header{
    min-height: 100vh;
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


@media (min-width:781px){
    header .container .content h2:last-child{
        display: none;
    }
}

@media (max-width:991px){
    header{
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }
}

@media (max-width:781px){
    header{
        background-image: url(../assets/technology/background-technology-mobile.jpg);
    }
}


header .container .content{
    color: white;
    margin-top: 50px;
}

header .container .content h2{
    font-family: Barlow Condensed;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 15px;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 80px;
}

header .container .content h2 span{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}

header .container .content .infos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

header .container .content .infos > div:first-child{
    width: 70%;
}

header .container .content .infos > div:last-child{
    width: 45%;
    position: relative;
    right: -260px;
}

header .container .content .infos .pic img{
    width: 100%;
    transition: all .5s ease-in-out;
}

header .container .content .infos .techs{
    display: flex;
    align-items: center;
    gap: 70px;
}

header .container .content .infos .techs .nums{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

header .container .content .infos .techs .nums li{
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 30px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Bellefair;
    cursor: pointer;
    transition: all .2s;
}

header .container .content .infos .techs .nums li.active{
    color: black;
    background-color: white;
}

header .container .content .infos .techs .nums li:hover{
    color: black;
    background-color: white;
}

header .container .content .infos .techs .tech-content p:first-child{
    text-transform: uppercase;
    font-size: 15px;
    font-family: Bellefair;
    letter-spacing: -.5px;
    color: rgba(255,255,255,.8);
}

header .container .content .infos .techs .tech-content .tech-name{
    text-transform: uppercase;
    font-size: 70px;
    margin: 10px auto 20px;
    font-family: Bellefair;
    transition: all .5s ease-in-out;
}

header .container .content .infos .techs .tech-content .tech-desc{
    color: rgba(255,255,255,.8);
    line-height: 2;
    font-size: 17px;
    padding-right: 100px;
    word-spacing: 1.7px;
    transition: all .5s ease-in-out;
}


@media (min-width:1500px) and (max-width:1700px){
    header .container .content .infos .pic img {
        width: 80%;
    }
}

@media (max-width:1500px){
    header .container .content .infos > div:first-child {
        width: 100%;
    }
    header .container .content .infos > div:last-child {
        width: 50%;
        right: 0;
    }
}

@media (max-width:1500px){
    header .container .content .infos .techs .tech-content .tech-desc {
        padding: 0;
    }
}

@media (max-width:1191px){
    header .container .content .infos {
        flex-direction: column;
    }
}

@media (max-width:781px){
    header .container .content .infos {
        flex-direction: column-reverse;
    }
    header .container .content .infos > div:first-child {
        flex-direction: column;
    }
    header .container .content .infos .techs .nums {
        flex-direction: row;
    }
    header .container .content .infos .techs .tech-content{
        text-align: center;
    }
    header .container .content .infos > div{
        width: 100% !important;
    }
    header .container .content .infos > div:first-child {
        margin-bottom: 30px;
    }
    header .container .content .infos .techs .nums li {
        width: 50px;
        height: 50px;
    }
    header .container .content .infos {
        gap: 40px;
    }
}

@media (max-width:415px){
    header .container .content h2 {
        font-size: 25px;
    }
    header .container .content .infos .techs .tech-content .tech-name {
        font-size: 40px;
    }
    header .container .content .infos .techs .tech-content .tech-desc {
        font-size: 15px;
    }
}