header{
    min-height: 100vh;
    background-image: url(assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


@media (max-width:991px){
    header{
        background-image: url(assets/home/background-home-tablet.jpg);
    }
}

@media (max-width:781px){
    header{
        background-image: url(assets/home/background-home-mobile.jpg);
    }
}

header .container .content{
    margin-top: 250px;
    display: flex;
    align-items: center;
    color: white;
}

header .container .content div{
    width: 50%;
}

header .container .content div h3{
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 5px;
}

header .container .content div h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Condensed;
    margin: 15px 0;
}

header .container .content div:first-child p{
    padding-right: 250px;
    font-weight: 200;
    line-height: 1.8;
}

header .container .content div:last-child{
    margin-top: 100px;
    display: flex;
    justify-content: end;
}

header .container .content div:last-child a{
    font-size: 40px;
    font-weight: 100;
    color: black;
    background-color: white;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-transform: uppercase;
    font-family: Condensed;
    transition: all .3s;
}

header .container .content div:last-child a:hover{
    box-shadow: 0px 0px 10px 100px rgba(255, 255, 255, .8);
}

header .container .content div:last-child a.active{
    box-shadow: 0px 0px 10px 5000px rgba(255, 255, 255, .8);
}

@media (max-width:1500px){
    header .container .content div:first-child{
        width: 60%;
    }
    header .container .content div:last-child {
        width: 40%;
    }
    header .container .content div:first-child p {
        padding-right: 100px;
    }
}

@media (max-width:991px){
    header .container .content {
        margin-top: 100px;
    }
    header .container .content {
        flex-direction: column;
    }
    header .container .content :is(div:first-child, div:last-child){
        width: 100%;
        text-align: center;
    }
    header .container .content div:first-child p {
        padding-right: 0;
    }
    header .container .content div h1 {
        font-size: 100px;
    }
    header .container .content div:last-child a{
        font-size: 30px;
        width: 170px;
        height: 170px;
    }
    header .container .content div:last-child {
        justify-content: center;
        margin: 100px 0;
    }
}

@media (max-width:360px){
    header .container .content div h3 {
        font-size: 20px;
    }
    header .container .content div h1 {
        font-size: 80px;
    }
    header .container .content div:first-child p {
        font-size: 15px;
    }
}